/* Global Variables */
html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.App {
  background: url(./Images/tax-planning.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(41,47,51,0.65);
}


a {
  text-decoration: none;
}


/* Navigation styling  */
.navigation-header{
  width:100%;
  animation: fadeIn; 
  animation-duration: 2s;
}

header ul {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header ul li {
  list-style: none;
  position: relative;
  padding: 10px 15px;
  transition: 0.5s;
  box-sizing: border-box;
  border-right: 1px solid rgba(255,255,255,.2);
}

header ul li:last-child{
  border-right: none;
}

header ul li a {
  text-decoration: none;
  padding: 0px 20px;
  color: #fff;
}

header ul li:hover  {
  background:rgb(42,0,147);
}

@media (max-width: 768px){
  .navigation-header{
    width:100%;
    background: #000;
    text-align: center;
  }
  header ul {
    display:block;
  }

  header ul li {
    display:block;
  }
}











/* Landing Page styling */

.landing-page-header-text-wrapper
{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-top: 25vh;
  
}

.landing-page-header-text-one
{
  font-size: 4em;
  font-family: 'IBM Plex Serif', serif;
  animation: fadeIn; 
  animation-duration: 3s;
}

.landing-page-header-text-two
{
  font-size: 2em;
  width: 70vw;
  text-align:center;
  line-height: 5vh;
  font-family: 'Merriweather', serif;
  animation: fadeIn; 
  animation-duration: 2s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.covered
{
  font-weight: bolder;
  color: goldenrod;
}


.landing-page-consultation-button{
color: white;
border: 2px solid white;
padding: 15px;
margin-top: 5vh;
transition: 0.5s;
animation: fadeIn; 
animation-duration: 3s;
}

.landing-page-consultation-button:hover{
  background-color: rgb(42,0,147);
  border: 2px solid rgb(42,0,147);
}



@media (max-width: 768px){
  .landing-page-header-text-one
{
  font-size: 2em;
  text-align: center;
}

.landing-page-header-text-two
{
  font-size: 1em;
  width: 100vw;
  text-align:center;
  line-height: 3vh;

}

.landing-page-consultation-button{
  color: white;
  border: 2px solid white;
  padding: 8px;
  margin-top: 2vh;

  }
  
}



/* Separater Div Styling */

.separater-div{
  width: 100vw;
  height: 3vh;
  background-color: rgb(42,0,147);
}



